Log
Data
Strategy
Notepad++
Source
Plugin
include
Cache
*.png
*.log
*.htm
*.t6
*.dll
*.zip
*.exe
*.wav
*.htm
*.t1
*.t8
*.t6
*.json
History/history.csv
api.def
Microsoft.VC80.CRT.manifest
zorro.chm
Zorro_setup_16862.txt
*.dbl

