Strategy
!Strategy/*.c

Data
Notepad++
Source
Plugin
include
Cache

*.png
*.log
*.htm
*.t6
*.dll
*.zip
*.exe
*.wav
*.htm
*.t1
*.t8
*.dbl
*.trd
*.json

!Log/Z9_real.log
!Log/Assets.csv

History/history.csv
api.def
Microsoft.VC80.CRT.manifest
zorro.chm
Zorro_setup_16862.txt
Log/testtrades.csv
Log/Z9_plot.csv
Log/Z9_pnl.csv
Log/zorro.css
