Notepad++
Source
Plugin
include
Cache
Log/Z12.png
*.png
*.log
*.htm
*.t6
*.dll
*.zip
*.exe
*.wav
*.htm
*.t1
*.t8
History/history.csv
*.json
Data/Z12.trd
Log/testtrades.csv
Log/zorro.css
Log/Assets.csv
Data/Z12.trd.bak
Data/Z12_pnl.dbl
Log/Z12_pnl.csv
Log/Z12_PS_pnl.csv
Log/Z12_PS.txt
Log/TradeTest_pnl.csv
Log/trades.csv
Log/Z12.txt
Log/Z9_plot.csv
Log/Z9.txt
Log/Z9_pnl.csv
